.albumContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3px;
}

.albumWrapper{
    margin: 0px;
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3 ; */
    /* border: 5px solid red;
    border-radius: ; */

}

.albumWrapper img{
    width: 120px;
    height: 100px;
    object-fit: cover;
}