.foo{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

.photographyTopicsWrapper{
        text-align: center;
        margin: 5px 0px 5px 15px;
}

.photographyTopics{
    display: inline-flex;
    align-items: center;
    white-space:nowrap;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px
}

.photographyTopics:hover{
color: whitesmoke;
background-color: #343a40;
}

.photographyTopicsContainer{
    gap: 0 !important;
}

.fooHeight{
    height: 12rem !important;
}

.para{
    max-width: 16rem;
    text-align: center;
}

.browse{
 width: 30%;
 text-align: center;
}

.parent{
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 !important;
}

.image{
position: relative;
border-radius: 10px !important;
}

.image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px !important;
}

.text{
    height: 100%;
left: 0;
position: absolute;
right: 0;
top: 0;
width: 100%;
align-items: center;
background-color: #0006;
color: #fff;
display: flex;
justify-content: center;
transition: background-color .2s;
border-radius: 10px !important;
}

li:hover{
cursor: pointer;
}

.fooHeight:hover{
    cursor: pointer;
}

.photographyTopics:hover{
    cursor: pointer;
}

.exploreAlbumContainer:hover{
    cursor: pointer;
}

.colorAlbumContainer{
    padding-top: 20px;
    display: flex;
    overflow-x: scroll;
}

.colorAlbumList{
   padding-right:10px ;
   list-style: none;
}
.exploreContainer{
   
}

.colorAlbumWrapper{
    display: flex;
}

.heading{
line-height: normal;
text-align: left;
margin: 1rem;
color: #2c343e;
font-family: 'Montserrat', sans-serif;
}

.colorAlbumHeading{
    margin-top: 2rem;
}

.exploreWrapper{
    margin-bottom: 4rem ;
    justify-content: flex-start;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    /* scrollbar-width: none;   */
    
    }


    ::-webkit-scrollbar{
        display: none;
    }



.exploreAlbumWrapper{

}


.exploreAlbumContainer{
   margin: 10px;
   text-align: center;
   background-color: whitesmoke;
   padding: 5px; 
}

.album1{

}

.album2{
   
}

.album3{
   
}


@media screen and (max-width: 720px) {
    .exploreWrapper{
        
    }

    .text{
        font-size: 1rem;
    }

    .foo{
        display: flex;
        justify-content: space-evenly;
        margin: 2rem;
        overflow-x: scroll;  
    }
    
    .browse{
        width: 100%;
text-align: center;
margin: 10px;
    }

    .image{
        /* width: 100%; */
/* height: auto; */
object-fit: cover;
border-radius: 10px;
/* overflow-x: scroll; */
    }

    .image img{
        width: auto;
        height: 50%;
    }
}